################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SolbegHotDesk.Web.Host/obj
/SolbegHotDesk.Web.Host/bin/Debug/net5.0
